<!DOCTYPE html>
<html>

<head>
    <title>Rango</title>
</head>

<body>
<h1>Rango says... hello world!</h1>

<h2>Most liked Categories</h2>
{% if categories %}
<u1>
    {% for category in categories %}
    <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
    {% endfor %}
</u1>
{% else %}
<strong>There are no categories present</strong>
{% endif %}

<h2>Most Viewed Pages</h2>
{% if mostViewedPages %}
<u1>
    {% for page in mostViewedPages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</u1>
{% else %}
<strong>There are no pages to present</strong>
{% endif %}
<br>
<a href="/rango/about/">About</a>
</body>
</html>